<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="stokDeneme.Properties.Settings.stokConnectionString"
            connectionString="Data Source=za;Initial Catalog=stok;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="stokDeneme.Properties.Settings.urunConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\urun.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="stokDeneme.Properties.Settings.YeniDataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\YeniData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>